<th>RENTAL DETAILS</th>
<table class="table">
   
    <thead>
        <tr>
            
            <th>Customer</th>
            <th>Company</th>
            <th>Brand</th>
            <th>RentDate</th>
            <th>ReturnDate</th>
        
        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">    
        <td>{{rental.customerName}}</td> 
        <td>{{rental.companyName}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}} </td>
    </tr>
    </table>
